<!doctype html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Fish&amp;Chips</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="/css/site.css" type="text/css" />
    <link rel="stylesheet" href="/css/ag-grid.css" type="text/css" />
    <link rel="stylesheet" href="/css/ag-theme-fresh.css" type="text/css" />
    <link rel="stylesheet" href="/css/ag-theme-material.css" type="text/css" />
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/ag-grid@16.0.0/dist/ag-grid.js"></script>
    <script src="https://unpkg.com/ag-grid-enterprise@16.0.0/dist/ag-grid-enterprise.js"></script>
    <script>
        
    </script>
    <script src="/grid.js"></script>
    <script src="js/main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.5/lodash.js"></script>

    
</head>

<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Fish&ampChips</h1> 
                </div>
            </div>
        </div>
    </header>
    <nav>
        <div class="container">
            <ul class="pull-left">
                <li>
                    <a href="/"> Home </a>
                </li>
                <li>
                    <a href="/about"> About </a>
                </li>
            </ul>

        </div>
    </nav>
    <div class="container">
        {{{body}}}
    </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <h2>© 2017 - Fish&ampChips</h2>

                </div>
            </div>
        </div>
    </footer>

</body>

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="genericModal">
  <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                </div>
            </div>
            <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</html>