<div class="row">
	<section class="main col-md-12">
		<article>
			<h2>Background</h2>
			<p>Jason is a driven and resourceful student programmer with experience in full stack programming and is looking to obtain a position related to Software Development. Jason’s previous experience has given him well-rounded team-work skills and his ability to handle stressful situations will give him the edge when situated in an AGILE environment.</p>
			<h2>Experience</h2>
				<ol>	
					
					<li><b>Sept 2015 - Current</b> <br>
					<a href="http://www.notabilia.ca/">Tutor, Admin, Notabilia</a> <br>

					•	Tutored math and science for students of various grades and levels <br>
•	Taught a grade 3 student how to implement simple C programs <br>
•	Scouted potential tutors through job invitations and university job portals <br>
•	Book-keeping duties <br>
•	Interviewed potential candidates for tutoring positions

					</li>
					<li>	
						<b>Aug 2005 - Dec 2016</b><br>
<a href="http://www.sammychengtorontoliondance.com/">Martial Arts Instructor / Event Performer, Sammy Cheng CLK </a><br>
						•	Volunteered to teach Martial Arts on Friday evenings, Sunday mornings <br>
•	Volunteered to teach Chinese Lion Dance Friday evenings <br>
•	Performed at events with various VIPs such as <a href="https://youtu.be/BaQ4GQtZKPs?t=48">Justin Trudeau</a> and <a href="http://www.sammychengtorontoliondance.com/Camera%20Pictures%20417.JPG">Stephen Harper</a><br>

					</li>
					<br>
				</ol>
		</article>
	</section>
</div>