<br />
<div class="container">
  <div class="row">
    <div class="col-md-12" id="dangerNotice"></div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      Search Fish Feed Information:
      <input type="text" class="form-control" id="filter-text-box" placeholder="Type to search" oninput="onFilterTextBoxChanged()"
      />
    </div>
  </div>
</div>
<br />
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <button type="button" class="btn btn-success pull-left" id="collapseBtn">Collapse All</button>
      <button type="button" class="btn btn-primary pull-left" id="expandBtn">Expand All</button>
      <button type="button" class="btn btn-primary pull-right" id="compareBtn">Compare</button>
      <button type="button" class="btn btn-default pull-right" id="removeSelectionsBtn">Remove selections</button>
    </div>
  </div>
  <br />
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div id="myGrid" style="height: 500px;" class="ag-theme-blue"></div>
      </div>
    </div>
  </div>