<div class="row">

	
	<section class="main col-md-12">
		{{data}}
	</section>
</div>

<script>

	
</Script>

	<div class="col-md-12">
		<div id="myGrid" style="height: 500px;width:100%" class="ag-fresh"></div>
	</div>
</div>

