<div class="col-md-12 potentialAlert" align="center">
</div>
<div class="col-md-12"> 
</div>
<br />

<div class="col-md-12">
  <input type="text" class="form-control" id="filter-text-box" placeholder="Type to search" oninput="onFilterTextBoxChanged()" />
</div>
<br />
<br />
<br />
<div class="col-md-12">
  <button type="button" class="btn btn-success pull-left" id="collapseBtn">Collapse</button>
  <button type="button" class="btn btn-primary pull-right" id="compareBtn">Compare</button>
  <button type="button" class="btn btn-default pull-right" id="removeSelectionsBtn">Remove selections</button>
</div>
<br />
<br />
<div class="col-md-12">
  <div id="myGrid" style="height: 500px;" class="ag-theme-blue"></div>
</div>