<div class="col-md-12 potentialAlert" align="center">
  <div class='alert alert-danger hidden'>
    <strong>Error!</strong> Please select only two kinds of feed to compare.
  </div>
</div>
<div class="col-md-12"> 
</div>
<br />
<div class="container">
  <div class="row">
    <div class="col-md-12" id="dangerNotice"></div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      Search Fish Feed Information:
      <input type="text" class="form-control" id="filter-text-box" placeholder="Type to search" oninput="onFilterTextBoxChanged()"
      />
    </div>
  </div>
</div>
<br />
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <button type="button" class="btn btn-primary pull-left" id="collapseBtn" style="margin-right: 10px">Collapse All</button>
      <button type="button" class="btn btn-primary pull-left" id="expandBtn">Expand All</button>
    </div>
    <div class="col-md-6">
      <button type="button" class="btn btn-primary pull-right" id="compareBtn">Compare</button>
      <button type="button" class="btn btn-primary pull-right" id="removeSelectionsBtn" style="margin-right: 10px">Remove selections</button>
    </div>
  </div>
</div>
<br />
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div id="myGrid" style="height: 500px; width: 100%" class="ag-theme-blue"></div>
    </div>
  </div>
</div>