<div class="row">
	<aside class="col-md-3">
		<h3>Contact Information</h3>
		<ul>
		</ul>
		<h3>Deployed on Heroku</h3>
		<p>This webpage is built on express, node and handlebars template engine</p>
		<p>The buttons on the navigation bar will redirect you to a webpage that utilizes promises, sequelize, handlebars. The database
			is hosted by Heroku using AWS.
		</p>
	</aside>
	<section class="main col-md-9">
		<article>
		
		</article>
	</section>

</div>